@import url(main.css);

main {
    padding-top: 25px;
    width: 650px;
    margin: auto;
}

main ul {
    width: 100%;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

main li {
    background: var(--nav-bg);
    font-size: 5em;
    padding: 20px;
    padding-right: 0;
}

main a:hover {
    color: var(--highlight);
}

main a {
    width: 100%;
    color: var(--background);
}

main p {
    font-family: var(--font-body);
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    margin: 0;
}

main .email {
    display: inline-block;
    text-align: center;
}

main .email textarea {
    margin: auto;
    font-size: .5em;
    color: var(--background);
}

main .email--hide {
    display: none;
}

main .email button {
    background-color: var(--background);
    border: none;
    color: var(--nav-bg);
    padding: 8px;  
    font-size: .6em;
    font-weight: bold;
    font-family: var(--font-body);
    cursor: pointer;
}

main .email button:hover {
    background-color: var(--highlight);
}