@import url('https://fonts.googleapis.com/css?family=Inconsolata|Merriweather');
@import url(fontawesome.css);
@import url(root.css);

/******* General *******/

html {
    background-color: var(--background);
}

body {
    margin: 0;
}

/******* Header *******/
    
header {
    height: 100vh;
    min-height: 800px;
    max-width: 600px;
    margin: auto;
}

header h1 {
    text-align: left;
    font-size: 4em;
    font-family: var(--font-title);
    color: var(--text);
}

header p {
    font-size: 2.5em;  
    font-family: var(--font-body);
    max-width: 600px;
    text-align: justify;
    color: var(--text);
}

/*** responsive for tablet ***/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        min-height: 600px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    header h1 {
        font-size: 3em;
    }
    
    header p {
        text-align: justify;
        font-size: 2em;
    }
}

/*** responsive for phones ***/

@media only screen and (max-width: 767px) {
    header {
        min-height: 400px;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
    
    header h1 {
        font-size: 2em;
    }
    
    header p {
        text-align: justify;
        font-size: 1.5em;
    }
}

/******* Top Nav *******/

.topnav {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--nav-bg);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}

.topnav li {
    float: left;
    border: 4px solid var(--nav-bg);
}

.topnav li a {
    /** transition **/
    transition: var(--transition-speed);
    transition-delay: var(--transtion-delay);
    
    display: block;
    color: var(--background);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:var(--font-title);
	font-weight:600;
    border: 4px solid var(--nav-bg);
    border-radius: 10px;
}

.topnav li a:hover {
    /** transition **/
    transition: var(--transition-speed);
    transition-delay: var(--transtion-delay);
    
    border-radius: 25px;
    font-weight: bold;
    border: 4px solid var(--nav-bg);
    color: var(--nav-bg);
    background-color: var(--background);
}

.topnav #icon {
    display: none;
}

.topnav .active a {
    background-color: var(--background);
    border-radius: 25px;
    color: var(--nav-bg);
}

/*** responsive for phones/tablets ***/

@media only screen and (max-width: 1025px) {  
    .topnav li {
        float: none;
        display: none;
        border: 0px;
	}
    
	.topnav #icon {    
        display: block;
	}
    
    .topnav li a {
        border: 0px;
    }
    
    .topnav li a:hover {
        border-radius: 0px;
        border: none;
    }
    
    .topnav #icon a:hover {
        transition: none;
        color: var(--background);
        background-color: var(--nav-bg);
    }
    
    .topnav .active a {
        background-color: var(--nav-bg);
        color: var(--background);
        border-radius: 0px;
    }
	
    /* added when user clicks on icon via dropTopnav function in script.js */
	.topnav--dropped li {
        display: block;
	}
}

/******** Main ********/

/******** Footer ********/

footer { 
    height: 150px;
}





