@import url(main.css);

/******** Main ********/

main {
    display: flex;
    flex-wrap: wrap;
}

main div {
    max-width: 300px;
    margin: auto;
    position: relative;
}

main .breakout {
    max-width: 300px;
}

main .project-ug {
    max-width: 425px;
}

main .advent-of-py {
    max-width: 425px;
}

main .doubletet {
    max-width: 350px;
}

main a img {
    width: 100%;
}

main a .label {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    /* appearance */
    background-color: var(--nav-bg);
    color: var(--highlight);
    font-family: var(--font-preview);
    font-weight: bold;
    font-size: 16px;
    padding: 6px 6px;
}

/*** responsive for phone/tablet ***/

@media only screen and (max-width: 1024px) {
    main div {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 1024px) {
    main div {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 780px) {
    main div {
        margin-bottom: 700px;
    }
}

@media only screen and (max-width: 600px) {
    main div {
        margin-bottom: 500px;
    }
}

/*** Fancy Hover (not for phones) ***/

@media only screen and (min-width: 1025px) { 
    main a img {
        opacity: .45;
        
        /** transition **/
        transition: var(--transition-speed);
        transition-delay: var(--transtion-delay);
    }
    
    main a:hover img {
        opacity:1;
        
        /** transition **/
        transition: var(--transition-speed);
        transition-delay: var(--transtion-delay);
    }
    
    main a .label {
        opacity: 0;

        /** transition **/
        transition: var(--transition-speed);
        transition-delay: var(--transtion-delay);
    }
    
    main a:hover .label {
        opacity:1;
        
        /** transition **/
        transition: var(--transition-speed);
        transition-delay: var(--transtion-delay);
    }
    
}