@import url(main.css);

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    height: 1000px;
}

main .cv-object {
    max-width: 800px;
    max-height: 1000px;
    margin: auto;
    width: 100%;
    height: 100%;
}