:root {
    /** colors **/
    --background: #7FC9E0;
    --nav-bg: #004A61;
    --text: #100A0B;
    --highlight: white;
    
    /** fonts **/
    --font-title: 'Merriweather', serif;
    --font-body: 'Inconsolata', monospace;
    --font-preview: 'Inconsolata', monospace;
    
    /** transitions **/
    --transition-speed: .6s;
    --transition-delay: .25s;
}
